target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
src/main/resources/application.yml
.mvn/timing.properties
.idea
data/
config/
!config/config.sample.yml
!data/.gitkeep
.classpath
.project
.settings
*.fls
*.log
*.synctex.gz
*.pdf
*.fdb_latexmk
*.aux
*.toc
*.pyg
