[Unit]
Description=A client to the twitter streaming API (not working yet)
After=mongodb.service

[Service]
User=root
ExecStart=java -jar /home/christoph/Projects/data-science-scaling-octo-broccoli/target/data-science-scaling-octo-broccoli-1.0-SNAPSHOT-jar-with-dependencies.jar

[Install]
WantedBy=multi-user.target
